<html>
  <head>
    <title>Pokédex</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="pokedex">
      
      <header>
          <input type="text" placeholder="ex: 103" v-on:blur="receberInputCaixa()" v-model="inputCaixa">  
          <button v-on:click="buscarAleatorio()">estou com sorte</button>
      </header>

      <div v-show="pokemonFoiCarregado">
        <div class="centralizar">
          <h1>{{ pokemon.nome }}</h1>
          <img v-bind:src="pokemon.thumb" v-bind:alt="pokemon.nome">
        </div>
        <div class="info">
          <div class="coluna w-12-5"></div>
          <div class="coluna w-25">
            <fieldset>  
              <h3 class="celula">ID</h3>
              <span class="celula">#{{ pokemon.id }}<span>
            </fieldset>
            <div class="celula"></div>
            <fieldset>
              <h3 class="celula">Altura</h3>
              <span class="celula">{{ pokemon.altura }}cm</span>
            </fieldset>
            <div class="celula"></div>
            <fieldset>
              <h3 class="celula">Peso</h3>
              <span class="celula">{{ pokemon.peso }}Kg</span>
            </fieldset>
          </div>
          <div class="coluna w-25">
            <fieldset>
              <h3 class="celula">Tipos</h3>
              <ul>
                <li v-for="tipo in pokemon.tipos" class="celula">{{ tipo }}</li>
              </ul>
            </fieldset>
          </div>
          <div class="coluna w-25">
            <fieldset>
              <h3 class="celula">Stats</h3>
              <ul>
                <li v-for="estatisticas in pokemon.estatisticas" class="celula">{{ estatisticas.nome }}: {{ estatisticas.valor }}</li>
              </ul>
            </fieldset>
          </div>
          <div class="coluna w-12-5"></div>
        </div>
      </div>
    </div>
    <script src="src/pokemon.js"></script>
    <script src="src/pokeApi.js"></script>
    <script src="src/pokedex.js"></script>
  </body>
</html>
