* {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

header {
  height: 5%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

input, button {
  margin-left: 2px;
  margin-right: 2px
}

body {
  background-image: url("imgs/bg.jpg");
}

h1, h2 {
  color: #222222;
}

span, li {
  color: #323232;
  padding: 5px;
}

fieldset{
  background-color: rgba(255,255,255,0.7);;
}

.centralizar {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
}

img {
  height: 60%;
  width: auto;
  border-radius: 20%;
  border-style: solid;
  border-color: #5F5F5F;
  background-color: #FFFFFF;
}

.centralizar-bloco {
  display: block;
  margin: 0 auto;
}

.info {
  display: flex;
  flex-flow: row;
  height: 55%;
}

.coluna {
  margin: 10px;
  height: 100%;
  display: flex;
  display: table-column;
  text-align: center;
}

.w-25 {
  width: 25%;
}

.w-12-5 {
  width: 12.5%;
}


.celula {
  margin: 0;
  height: calc(100%/13);
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
