
body {
  margin: 0 auto;
  color: #222222;
  background-color: #F8F8F8;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  color: white;
  background: #42868f;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  border: 3px solid;
  margin: 0;
  padding-top: 1vh;
  height: 8vh;
}

a {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

img {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

ul {
  list-style: none;
}

ul li {
  padding: 1em;
}

.centralizado {
  text-align: center;
}

.imgComPadding {
  padding-left: 25%;
  display: inline;
  text-align: left;
}

.centralizado .texto {
  border: 3px solid;
  background: #42868f;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 1.2em;
}

footer{
  background-color: #42868f;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
}

footer marquee {
  background: #42868f;
  position: center;

}

h2{
  text-align: center;
  background-color: #4B554B;
  color: #F8F8F8;
  padding: 0.5em;
}

.texto{
  color: #4B554B;
  padding: 1em;
}

.entretenimento-titulo{
  text-align: center;
}

.entretenimento-texto{
  text-align: center;
}

.entretenimento-imagem{
  border: 5px solid;
  border-color: green;
  height: 100px;
  width: 100;
  margin: 0 500px;
}

img {
  padding-left: 0;
  padding-right: 0;
}
