<template>
  <section>
    <select v-model="opcaoSelecionada" v-on:change="onChange">
      <option v-for="opcao in opcoes" v-bind:key="opcao.id" v-bind:value="opcao">
        {{ opcao.texto }}
      </option>
    </select>
    <TabelaPokemon class="tabela" v-show="opcaoSelecionada.texto" v-bind:pokemons="arrayPkmPorTipo"/>
    <!-- <Button class="btn" v-show="opcaoSelecionada.texto" texto="Carregar mais" v-on:click="this.oi()"/> -->
    <button class="btn" v-show="opcaoSelecionada.texto" @click="prevPag()">Anterior</button>
    <button class="btn" v-show="opcaoSelecionada.texto" @click="nextPag()">Próxima</button>
  </section>
</template>

<script>

import PokeApi from '../../api/pokeApi.js'
import Button from '../shared/Button.vue'
import PokemonLinha from '../shared/PokemonLinha.vue'
import TabelaPokemon from '../shared/TabelaPokemon.vue'

export default {
  name: "Home",
  components: {
    Button, PokemonLinha, TabelaPokemon
  },
  data: () => {
    return {
      usuario: '',
      opcoes: [
        { id: 1, texto: "Normal" },
        { id: 2, texto: "Lutador" },
        { id: 3, texto: "Voador" }
      ],
      opcaoSelecionada:  { },
      arrayPkmPorTipo: [ ],
      paginaAtual: 0,
      tamanhoDaLista: 0
    }
  },
  created() {
    this.usuario = this.$route.params.usuario
  },
  methods: {
    async carregar(){
      const pokeApi = new PokeApi("https://pokeapi.co/api/v2/pokemon")
      const respostaApi = await pokeApi.listarPorTipo( this.$data.opcaoSelecionada.id, 10, this.$data.paginaAtual )
      this.$data.arrayPkmPorTipo = await respostaApi[0]
      this.$data.tamanhoDaLista = await respostaApi[1]
    },
    onChange(){
      this.$data.paginaAtual = 1;
      this.carregar()
    },
    nextPag(){
      this.$data.paginaAtual++;
      this.carregar();  
    },
    prevPag(){
      this.$data.paginaAtual--;
      this.carregar();
    }
  }
}
</script>

<style>
  .btn {
    margin: 0 auto;
  }
</style>
