<template>
  
  <form v-on:submit.prevent="onSubmit">
    <EmailInput nome="usuario" ref="usuarioRef"/>
    <PasswordInput nome="senha" ref="senhaRef"/>
    <Button v-bind:texto="textoBotao" type="submit"/>
  </form>

</template>

<script>

import EmailInput from '../shared/EmailInput.vue'
import PasswordInput from '../shared/PasswordInput.vue'
import Button from '../shared/Button.vue'

export default {
  name: 'Login',
  data: () => {
    return {
      textoBotao: "Entrar"
    } 
  },
  components: {
    Button, EmailInput, PasswordInput
  },
  methods: {
    onSubmit(){
      const usuario =this.$refs.usuarioRef.valor,
        senha = this.$refs.senhaRef.valor

      const podeLogar = usuario === 'admin@dbccompany.com.br' && senha === 'admin'
      if( podeLogar ) {
        this.textoBotao = "Aguarde..."
        setTimeout( () => { 
          this.$router.push( { name: "home", params: { usuario } } )
       }, 1200)
      }
    }
  }
}
</script>
