* {
 margin: 0;
}

a{
  color: darkred;
}

.fundo-salmao{
  background-color: lightsalmon
}

nav{
  background-color: #FACC6B;
  padding: 30px;
}

nav li{
  list-style: none;
  display: inline;
}

label, input[type='radio'] {
  cursor: pointer;
}

.centralizado {
  width: 0px;
  margin: 0 auto;
}

header {
  top: 0;
  width: 100%;
  margin-bottom: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0 0 10px;
}

footer > span {
  display: block;
}

.texto-fixo {
  color: darkblue;
  background-color: darkcyan;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;

}
