* {
  margin: 0;
}

.flag {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: purple;
}

.stripe {
  /* width: 33.333333333333333333333333333333333333333333333333333333333333333333333333333333333333333%; */
  width: calc(100% / 3);
  height: 100%;
  float: left;
}

.preto {
  background-color: #000000;
}

.amarelo {
  background-color: #FDDA24;
}

.vermelho {
  background-color: #EF3340;
}

marquee {
  color: rgb(42, 255, 219);
  font-weight: bolder;
  position: fixed;
  z-index: 99999999;
}
