* {
  margin: 0;
  background-color: antiquewhite;
}

.flag {
  width: 100%;
  height: 100%;
  position: absolute;
}

.celula {
  width: calc(100% / 18);
  height: 100%;
  display: flex;
  flex-direction: row;
  float: left;
  margin: auto;
  z-index: 9999999999999999999;
}

.l {
  display: block;
  height: calc(100% / 11);
}

.azul {
  background-color: #003580;
}

.branca {
  background-color: #FFFFFF;
}
