<html>
  <head>
      <meta charset="utf-8">
      <title>Hello Vue :3</title>
      <link rel="stylesheet" href="style.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <section id="meuPrimeiroApp">
      <input type="text" v-model="texto" placeholder="seu nome" v-on:blur="alertar()">
      <h2 v-show="texto.length > 0">Olá, {{ texto }}</h2>
    </section>
    <script src="src/app.js"></script>  
  </body>
</html>
