<template>
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="text" v-validate="'required|email|email-dbc'" v-bind:name="nome" v-model="valor" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="usuario@email.com">
    <small id="emailHelp" class="form-text text-muted">Não vamos compartilhar seu email com ninguém fique tranquilo.</small>
    <div v-show="errors.has(this.nome)" class="alert alert-danger" role="danger">
      <span>{{ errors.first( this.nome ) }}</span>
    </div>
  </div>
</template>
<script>
export default {
  name: "EmailInput",
  props: {
    nome: String
  },
  data: () => {
    return {
      valor: ""
    }
  },
  created() {
    this.$validator.extend('email-dbc', {
      getMessage() {
        return 'O email deve ser do domínio "dbccompany.com.br".'
      },
      validate(value) {
        let emailSeparado = value.split('@')
        return emailSeparado[1] === "dbccompany.com.br"
      }
    })
  }
}
</script>

