<template>
  <div class="form-group">
    <label v-bind:for="nome">Senha</label>
    <input type="password" v-validate="'required|min:5'" v-bind:name="nome" v-model="valor" class="form-control" v-bind:id="nome" aria-describedby="emailHelp" placeholder="senha"/>
    <small id="emailHelp" class="form-text text-muted">Não vamos compartilhar sua senha com ninguém fique tranquilo.</small>
    <div v-show="errors.has(this.nome)" class="alert alert-danger" role="danger">
      <span>{{ errors.first( this.nome ) }}</span>
    </div>
  </div>
</template>
<script>
export default {
  nome: "PasswordInput",
  props: {
    nome: String
  },
  data: () => {
    return {
      valor: ""
    }
  }
}
</script>
