<template>
  <tr>
    <td>{{ pkm.id }}</td>
    <td>{{ pkm.nome }}</td>
    <td>
      <img v-bind:src="pkm.thumb">
    </td>
    <td>{{ pkm.altura }}</td>
    <td>{{ pkm.peso }}</td>
  </tr>
</template>
<script>
  import Pokemon from "../../models/pokemon.js"
  export default {
    name: "PokemonLinha",
    props: {
      pkm: Pokemon
    }
  }
</script>
