<template>
  <table class="table table-striped tabela">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Img</th>
        <th scope="col">Altura</th>
        <th scope="col">Peso</th>
      </tr>
    </thead>
    <tbody>
      <PokemonLinha v-bind:pkm="pokemon" v-bind:key="pokemon.id" v-for="pokemon in pokemons"/>
    </tbody>
  </table>  
</template>
<script>
  import PokemonLinha from "./PokemonLinha.vue"
  export default {
    name: "TabelaPokemon",
    components: {
      PokemonLinha
    },
    props: {
      pokemons: Array
    }
  }
</script>



